@page "/"

<h1>Hello, world!</h1>

<h2>Test</h2>

<h3>Lama</h3>

<p>New words.</p>

<p>Some more text.</p>

<p>This time the test should be positiv.</p>

<SurveyPrompt Title="How is Blazor working for you?" />
